{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">e</span><span class="base09">p</span><span class="base0a">i</span><span class="base0b">d</span><span class="base0c">e</span><span class="base0d">m</span><span class="base0e">i</span><span class="base0f">c</span><span class="base04">s</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
    an archive of my work-related notes and outputs
</div>
